<div class="project-list">
    <h2>Lista Projektów</h2>
    @if(projects.length){
        <ul>
            @for(project of projects; track $index){
                <li>
                    <strong>{{ project.name }}</strong><br />
                    {{ project.description }}
                    <button (click)="deleteProject(project.id)">Usuń</button>
                    <button (click)="editProject(project)">Edytuj</button>
                </li>
            }
        </ul>
    }@else {
        <span>{{'Brak projektów...'}}</span>
    }
    </div>
  