<div class="user-list">
  <mat-card class="user-card mat-elevation-z2">
    <mat-card-title>Zalogowany użytkownik</mat-card-title>
    <mat-card-content>
      <p>{{ currentUser.firstName }} {{ currentUser.lastName }} - {{ currentUser.role }}</p>
    </mat-card-content>
  </mat-card>

  <h2>Lista Użytkowników</h2>

  <mat-list>
    @for (user of users; track $index) {
      <mat-list-item>
        {{ user.firstName }} {{ user.lastName }} — {{ user.role }}
      </mat-list-item>
    }
  </mat-list>
</div>
