<mat-card>
  <h2>{{ isEdit ? "Edytuj Zadanie" : "Dodaj Zadanie" }}</h2>

  <form [formGroup]="taskForm" (ngSubmit)="submit()" class="form-container">
    <mat-form-field data-id="task-name" appearance="outline" class="full-width">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field
      data-id="task-description"
      appearance="outline"
      class="full-width"
    >
      <mat-label>Opis</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Priorytet</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="low">Niski</mat-option>
        <mat-option value="medium">Średni</mat-option>
        <mat-option value="high">Wysoki</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Przewidywany czas (godz.)</mat-label>
      <input matInput type="number" formControlName="estimatedTime" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Przypisz użytkownika</mat-label>
      <mat-select formControlName="assignedUserId">
        <mat-option [value]="null">Brak</mat-option>
        @for (user of users; track user.id) {
          <mat-option [value]="user.id">
            {{ user.firstName }} {{ user.lastName }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Historyjka</mat-label>
      <mat-select formControlName="storyId">
        <mat-option [value]="null">Brak</mat-option>
        @for (s of stories; track $index) {
          <mat-option [value]="s.id">
            {{ s.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="button-group">
      <button
        data-id="submit-task-btn"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="taskForm.invalid"
      >
        {{ isEdit ? "Zapisz" : "Dodaj" }}
      </button>
      <button mat-stroked-button type="button" (click)="cancel()">
        Anuluj
      </button>
    </div>
  </form>
</mat-card>
