*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(16, 16, 16);
  color: white;
  background-image:
    linear-gradient(to bottom, rgb(0 0 0) 10%, rgb(0 102 98 / 64%)),
    url('./app/assets/img/background.jpg');
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h2 {
  margin: 24px 0 24px;
  text-align: center;
}

button {
  margin: 4px;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mat-card {
  padding: 24px;
}
