*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

:root {
  --background-color: #fafafa;
  --gradient-start: #fff;
  --text-color: #212121;
  --card-background: #f3f3f3;
}

body.dark-theme {
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-color: #e0e0e0;
  --card-background: #191c1c;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h2 {
  margin: 24px 0 24px;
  text-align: center;
}

button {
  margin: 4px;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mat-card {
  padding: 24px;
  background: var(--card-background) !important;
}
