<div class="task-form">
  <h2>{{ taskToEdit ? 'Edytuj Zadanie' : 'Dodaj Zadanie' }}</h2>
  <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
    <div>
      <label for="name">Nazwa:</label>
      <input id="name" formControlName="name" />
    </div>
    <div>
      <label for="description">Opis:</label>
      <input id="description" formControlName="description" />
    </div>
    <div>
      <label for="priority">Priorytet:</label>
      <select id="priority" formControlName="priority">
        <option value="low">Niski</option>
        <option value="medium">Średni</option>
        <option value="high">Wysoki</option>
      </select>
    </div>
    <div>
      <label for="estimatedTime">Przewidywany czas (godz.):</label>
      <input id="estimatedTime" type="number" formControlName="estimatedTime" />
    </div>
    <div>
      <label for="assignedUserId">Przypisz użytkownika:</label>
      <select id="assignedUserId" formControlName="assignedUserId">
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.firstName }} {{ user.lastName }}
        </option>
      </select>
    </div>
    <button type="submit">{{ taskToEdit ? 'Zapisz' : 'Dodaj' }}</button>
  </form>
</div>