<form (ngSubmit)="login()">
  <label
    >Login: <input type="text" [(ngModel)]="loginValue" name="login"
  /></label>
  <label
    >Hasło: <input type="password" [(ngModel)]="password" name="password"
  /></label>
  <button type="submit">Zaloguj</button>
</form>
<hr />
<app-project-form></app-project-form>
<hr />
<app-project-list></app-project-list>
<hr />
<app-story-list></app-story-list>
<hr />
<app-user-list></app-user-list>
<hr />
<app-task-form></app-task-form>
<hr />
<app-kanban-board></app-kanban-board>
