.story-list {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 2rem;
  }

  .story-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .story-card {
    padding: 1rem;

    &.done {
      background-color: #f3f3f3;
    }
  }

  .no-stories {
    font-style: italic;
    color: #888;
    display: block;
    margin-top: 0.5rem;
  }
}

