<div class="kanban-board">
  <mat-card class="kanban-column">
    <mat-card-header>
      <mat-icon color="primary">list</mat-icon>
      <mat-card-title>To Do</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <div class="kanban-tasks">
      @for (task of todo; track $index) {
        <app-task-details
          [task]="task"
          (editRequested)="editRequested.emit(task)"
        ></app-task-details>
      }
    </div>
  </mat-card>

  <mat-card class="kanban-column">
    <mat-card-header>
      <mat-icon color="accent">autorenew</mat-icon>
      <mat-card-title>Doing</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <div class="kanban-tasks">
      @for (task of doing; track $index) {
        <app-task-details
          [task]="task"
          (editRequested)="editRequested.emit(task)"
        ></app-task-details>
      }
    </div>
  </mat-card>

  <mat-card class="kanban-column">
    <mat-card-header>
      <mat-icon color="warn">check_circle</mat-icon>
      <mat-card-title>Done</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <div class="kanban-tasks">
      @for (task of done; track $index) {
        <app-task-details
          [task]="task"
          (editRequested)="editRequested.emit(task)"
        ></app-task-details>
      }
    </div>
  </mat-card>
</div>
