<mat-card class="task-details mat-elevation-z2">
  <mat-card-title>{{ task.name }}</mat-card-title>
  <mat-card-content>
    <p><strong>Opis:</strong> {{ task.description }}</p>
    <p><strong>Priorytet:</strong> {{ task.priority }}</p>
    <p><strong>Przewidywany czas:</strong> {{ task.estimatedTime }} godz.</p>
    <p><strong>Data dodania:</strong> {{ task.createdAt | date }}</p>
    <p><strong>Historyjka:</strong> {{ taskStoryName }}</p>

    @if (task.startDate) {
      <p><strong>Data startu:</strong> {{ task.startDate }}</p>
    }
    @if (task.endDate) {
      <p><strong>Data zakończenia:</strong> {{ task.endDate }}</p>
    }
    @if (task.assignedUserId) {
      <p><strong>Przypisany użytkownik:</strong> {{ taskUserName }}</p>
    }
    @if (task.status === "todo") {
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Przypisz użytkownika</mat-label>
        <mat-select id="assignUser" (selectionChange)="assignUser($event)">
          <mat-option disabled selected value=""
            >Wybierz użytkownika</mat-option
          >
          @for (user of users; track $index) {
            <mat-option [value]="user.id">
              {{ user.firstName }} {{ user.lastName }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (task.status === "doing") {
      <mat-card-actions>
        <button
          mat-stroked-button
          color="accent"
          (click)="editRequested.emit(task)"
        >
          Edytuj
        </button>
        <button mat-raised-button color="primary" (click)="markAsDone()">
          Oznacz jako zakończone
        </button>
        <button mat-raised-button color="warn" (click)="deleteTask()">
          Usuń
        </button>
      </mat-card-actions>
    } @else {
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="deleteTask()">
          Usuń
        </button>
      </mat-card-actions>
    }
  </mat-card-content>
</mat-card>
