.task-details {
  max-width: 600px;
  margin: auto;
  padding: 1rem;

  .full-width {
    width: 100%;
  }

  mat-card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
  }
}
